.contant{
    width: 400px;
}
.text{
    position: relative;
    margin: 30px 0;
    font-size: 16px;
    color:rgb(117, 116, 114);
}
h1{
    color: red;
    margin: 0px;
}

.text input,textarea{
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 18px;
    background: none;
    border: 1px solid #45A29E ;
}
textarea{
    height: 120px;
    border: 1px solid #45A29E ;
}
.text input[type="radio"]{
    width: 7%;
    height: 14px;
    padding: 0 5px;
    background: none;
    border: 1px solid #45A29E ;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    background: #138b27;
    font-size: 18px;
    color: #e9f4fb;
    cursor: pointer;
    font-weight: 700px;
    outline: none;
}