
.main{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}
.contant {
    width: 700px;
    margin: 30px auto;
    padding: 30px;
    background-color: rgb(194 199 199 / 81%);
    border: 2px solid #45A29E;
    border-radius: 10px;
}
h1 ,h2,th{
    text-align: center;
    color: #a52323;
    margin-bottom: 20px;
}
p,td {
    color: #138b27;
    font-size: 20px;
    margin: 15px 0px;
}
table{
    width: 100%;
}
table,th,td{
    border:0.5px solid black;
}