/* defolt setting */
*{
    margin: 0px;
    padding: 0px;
}
/* css for top name bar */
.name h1{
    text-align: center;
    font-size: 48px;
    padding: 25px;  
    color:#2bf906; 
}
.top{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
    
    
}
.left{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}
.main{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;

}
/* css for logo */
.logo{
    position: absolute;
    top: 10px;
    left: 150px;
}
.logo img{
    width: 100px;
}
/* css for menu  */
.menu li,.btn li{
 
    text-align: center;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #45A29E;
    cursor: pointer;

}
.menu li a,.btn li a{
    text-decoration: none;
    font-size: 25px;
    color:#25f301;
}
/* css for back button */
#back{
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.menu li:hover,.btn li:hover{
    background-color: #C5C6C7;
    border: 2px solid #45A29E ;
    border-radius: 10px;
}
